@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

$font-fam: 'Roboto', sans-serif;

//colors
$blue: #1992D4;
$gold: #F0B429;
$grey: #E2E8F0;
$white: #FFFFFF;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main-container {
  min-height: 100vh;
  font-family: $font-fam;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

aside {
  background-color: $blue;
  padding: 1.2rem;
  color: $white;
  img {
    height: 36px;
  }
  header {
    display: grid;
    grid-template-columns: auto 3fr;
    align-items: center;
    justify-items: start;
    gap: 10px;
    margin-bottom: 3rem;
    
    
    h1 {
      font-size: 1.5rem;
    }
  }
  nav {
    padding-left: 0.45rem;

    ul:first-child {
      margin-bottom: 4rem;
    }
    ul {
      list-style-type: none;

      
      
      li {
        font-size: 1.1rem;
        font-weight: bold;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        gap: 15px;
        margin-bottom: 1rem;

        img {
          height: 20px;
          margin-bottom: 2px;
        }
      }
    }
  }
}

article {
  background-color: $grey;
  display: grid;
  grid-template-rows: 150px 1fr;

  header {
    background-color: $white;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 1rem 3rem;

    .upper-row {
      
      ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 1.5rem;

        span {
          display: block;
          background-color: $grey;
          width: clamp(4vw, 40rem, 50vw);
          padding: 14px;
          border-radius: 10px;
          
        }
        .right-li {
          margin-left: auto;
        }

        li {

          >img {
            height: 20px;
            margin-top: 6px;
          }

          h1 {
            font-size: 1.2rem;
            font-weight: 500;
          }
        }

        .avatar {
          height: 45px;
          width: 45px;
          display: grid;
          place-items: center;
          border-radius: 50%;
          background-color: hotpink;
         

          img {
            height: 36px;
          }
        }
      }
      
    }

    .lower-row {

    }
  }
  
  main {
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: 3fr 1.2fr;
    gap: 1.5rem;

    h1 {
      margin-bottom: 1rem;
      font-size: 1.3rem;
      font-weight: 500;
    }


    .projects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 2rem;
      
      .project-cards {
        height: 190px;
        background-color: $white;
        border-radius: 10px;
      }

      
    }
    
    .announce-trends {
      display: grid;
      grid-template-rows: 290px 1fr;
      gap: 2rem;

      .announcements {
        height: 290px;
        background-color: $white;
        border-radius: 10px;
      }

      .trends {
        height: 272px;
        background-color: $white;
        border-radius: 10px;
      }

    }
  }

}

